
/*================================= Grid Master =============================*/
.grid-one {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 57%;
    min-width: 1200px;
}

}


/*======================== Toolbar ========================*/

.grid-one thead, .grid-two thead {
    background-color: #E4E5E7;
}

.toolbar {
    font-size: 12px;
    width: 100%;
    min-height: 29px;
    max-height: 29px;
    display: flex;
    padding: 2px 2px;
    background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9 20%, #e2e2e2 52%, #e8e8e8);
    border-bottom: 1px solid #ccc;
}
    /* Định dạng cho toolbar*/
    .toolbar .toolbar-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 4px;
        padding-right: 4px;
        border: 1px solid #ccc;
        border: 1px solid rgba(204, 204, 204, 0.00);
        height: 100%;
        cursor: pointer;
    }

        .toolbar .toolbar-item:hover {
            border: 1px solid #afafaf;
            background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9 20%, #afc3dc 52%, #e8e8e8);
            border-radius: 2px;
        }

        .toolbar .toolbar-item .toolbar-item-icons {
            width: 16px;
            height: 16px;
            background-image: url('/Contents/icon/IconSprite.png');
            background-repeat: no-repeat;
        }

        .toolbar .toolbar-item .toolbar-item-text {
            padding: 4px;
        }

.toolbar-item .toolbar-item-icons-registration {
    background-position: 0-2416px;
}

.toolbar-item .toolbar-item-icons-edit {
    background-position: 0-1872px;
}

.toolbar-item .toolbar-item-icons-delete {
    background-position: 0-2000px;
}

.toolbar-item .toolbar-item-icons-loaded {
    background-position: 0-928px;
}

.toolbar-item .toolbar-item-icons-import {
    background-position: 0-2256px;
}

.toolbar-item .toolbar-item-icons-export {
    background-position: 0-1759px;
}

.toolbar-item .toolbar-item-icons-printf {
    background-position: 0-992px;
}

.toolbar-item .toolbar-item-icons-help {
    background-position: 0-1600px;
}

#btnregistration .btn-dk {
    display: inline-flex;
    padding: 0px;
    padding-bottom: 1px;
    align-items: center;
}

#btnregistration .btn {
    padding: 0px;
    font-size: 12px;
    width: 20px;
    height: 21px;
    margin-left: 2px;
}

    #btnregistration .btn:hover {
        border-left: 1px solid #99c4c3;
    }


#btnregistration .dropdown-menu {
    padding: 2px;
    background-color: rgb(236, 238, 239);
    border: 1px solid rgb(171, 179, 179);
    left: -119px !important;
    z-index: 5;
}
/*============================ Drop down filter ================================*/
.filter-img {
    background: transparent url(http://cdn.qlth.vn/Library/Content/Css/Main/image/icon/filter-ion.png) no-repeat center center;
    padding: 0px 8px 4px 8px;
}

.dropdown {
    width: 22px;
    border: 1px solid #d1d1d1;
    background-image: -webkit-linear-gradient(top, #ffffff, #f9f9f9 48%, #e2e2e2 52%, #e8e8e8);
    margin-left: 2px;
    border-radius: 3px;
}

.dropdown-item {
    padding: 2px 0rem;
    display: flex;
    height: 24px;
    position: relative;
    font-size: 12px;
    align-items: center;
    width: 140px;
    border: 1px solid #e8e8e8;
}

    .dropdown-item:hover {
        cursor: pointer;
        background-color: #8dc0f58f;
        border: 1px solid #8dc0f5;
        border-radius: 4px;
    }

.dropdown-menu.show {
    font-size: 12px;
    top: 3px !important;
    min-width: auto;
    padding: unset;
    background-color: #e8e8e8;
}

.dropdown-item.dot {
    background-image: url(/Contents/icon/dot.gif);
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 3px;
}

span.item {
    position: absolute;
    left: 24px;
    border-left: 1px solid #cecdcd;
    padding-left: 5px;
    height: 24px;
    padding-top: 3px;
}


/*============================ Table Grid master ================================*/
.grid-table {
    display: flex;
    overflow-y: scroll;
    flex-grow: 1;
}

.grid-one tbody {
    font-size: 12px;
    color: #212121;
}

table {
    width: 100%;
    overflow-y: scroll;
    font-size: 14px;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-left: none;
    padding: 2px 3px;
    border-top: none;
}


    table thead tr {
        font-size: 12px;
        text-align: center;
    }

        table thead tr th {
            position: sticky;
            top: 0;
            z-index: 3;
            background-image: -webkit-linear-gradient(top, #f2f2f2, #E4E5E7 );
        }

    table thead tr {
        position: sticky;
        top: 0;
    }

tr {
    height: 27px;
    height: 28px;
}

    tr th > div {
        display: flex;
        flex-direction: column;
    }

.column-title {
    height: 28px;
    padding: 4px 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

tr th div > div.column-filter {
    display: inline-flex;
    padding: 3px;
}

    tr th div > div.column-filter input {
        width: 100%;
        border: 1px solid #d1d1d1;
        padding: 1px 3px 2px;
    }

/*css phần thead - 6/5/2019*/
th[fieldName=RowNumber] {
    width: 40px;
    padding: 0;
}

th[fieldName=BookReaderCode] {
    width: 112px;
    padding: 0;
}

th[fieldName=FullName] {
    flex-grow: 1;
    padding: 0;
}

th[fieldName=ClassOrOrganizationUnit] {
    width: 115px;
    padding: 0;
}

th[fieldName=Gender] {
    width: 115px;
    padding: 0;
}

th[fieldName=BirthDate], th[fieldName=IssueDate], th[fieldName=ValidityDate], th[fieldName=ExpiryDate] {
    width: 129px;
    padding: 0;
}

.grid-one table th > div[fielddata=BirthDate] {
    width: 129px;
}

.grid-one table th > div[fielddata=IssueDate] {
    width: 129px;
}

.grid-one table th > div[fielddata=ValidityDate] {
    width: 129px;
}

.grid-one table th > div[fielddata=ExpiryDate] {
    width: 129px;
}

/* Style input phần thead */
input {
    overflow: hidden;
}

    input.filter-birthday {
        width: 77px;
        padding-left: 4px;
    }

    input.filter-dateallocated {
        width: 77px;
        padding-left: 4px;
    }

    input.filter-dateeffect {
        width: 77px;
        padding-left: 4px;
    }

    input.filter-dateexpired {
        width: 77px;
        padding-left: 4px;
    }

/*Style filter icon thead*/
.show-filter-normal {
    display: none;
}

.show-filter-up {
    background-image: url(../../Contents/icon/up.gif);
    height: 6px;
    width: 10px;
    background-repeat: no-repeat;
    display: block;
    margin: 7px 0 0 4px;
}

.show-filter-down {
    background-image: url('../../Contents/icon/down.gif');
    height: 6px;
    width: 10px;
    background-repeat: no-repeat;
    display: block;
    margin: 7px 0 0 4px;
}



div.contextMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    font: 300 11px 'Roboto', sans-serif;
    position: absolute;
    border: 1px solid #b3d7ff;
    background-color: #f0f0f0;
    height: 220px;
    width: 140px;
}

    div.contextMenu * {
        transition: color .4s, background .4s;
    }

    div.contextMenu div {
        min-width: 60px;
        overflow: hidden;
        white-space: nowrap;
        height: 27px;
        line-height: 27px;
    }

        div.contextMenu div a {
            padding-right: 10px;
            color: #333;
            text-decoration: none;
        }

    div.contextMenu > div:hover {
        /*border: 1px solid #b3d7ff;*/
        background-color: #cbe2fc;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
    }

        div.contextMenu > div:hover .borderleft {
            border-left: none;
            padding-left: 9px;
        }



    div.contextMenu > div.print, div.import {
        border-top: 1px solid #f5fbfb;
    }

    div.contextMenu div:last-child a {
        width: 26%;
    }

    div.contextMenu div:last-child:hover a {
        color: #2c3e50;
    }

        div.contextMenu div:last-child:hover a:hover {
            color: #2980b9;
        }

#contextmenu div.contextMenu div {
    /*padding-left: 5px;*/
}

.display-flex {
    display: grid;
    grid-template-columns: 18% 82%;
}

.borderleft {
    border-left: 1px solid #f5fbfb;
    padding-left: 8px;
}

.icon-mouse-right {
    padding-left: 5px;
}
/*định dạng cho "Đăng ký bạn đọc từ danh sách học sinh"*/
.add-reader-student-hide {
    top: 100%;
    z-index: 1000;
    box-shadow: 0px 1px 10px -2px black;
    background: #f0f0f0;
    position: absolute;
    top: 5px;
    left: 98%;
    width: 210px;
    height: 30px;
    margin: 2px;
    font-size: 11px;
    padding:  2px 2px 2px 15px;
}
/*định dạng cho dòng chữ "Đăng ký bạn đọc từ danh sách học sinh"*/
.add-reader-student-hide-item {
    
}

    .add-reader-student-hide-item:hover {
        background: #cbe2fc;
        cursor: pointer;
        border-radius: 5px 5px 5px 5px;
    }


#btn-Add:hover .add-reader-student-hide {
    display: block !important;
}
